$color-primary: #222260;
$color-primary-2: rgba(34, 34, 96, 0.6);
$color-primary-3: rgba(34, 34, 96, 0.4);
$color-secondary: #42ad00;
$color-background: #aaa;
$color-accent: #f56692;
$color-delete: #ff0000;
