@use "../../styles/partials/variables" as *;

.nav {
  margin: 1rem;
  padding: 2rem;
  width: 15rem;
  height: 100vh;
  border: 3px solid #eee;
  background-color: #eee;
  color: $color-primary;
  border-radius: 1rem;

  &__user-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__user-details {
    display: flex;
    color: rgba($color-primary, 0.6);
    flex-direction: column;
    justify-content: center;
  }

  &__username {
    color: rgba($color-primary, 1);
  }

  &__user-text {
    font-size: 0.875rem;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
  }

  &__list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }

  &__link {
    // padding: 0.5rem 0;
    // align-self: center;
    color: rgba($color-primary, 0.7);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-left: 1rem;

    &--active {
      border-left: 3px solid rgba($color-primary, 0.7);
    }
  }
}
